* {
    padding: 0px;
    margin: 0px;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar content content content content";
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

header {
    grid-area: sidebar;
    background-color: #c4a7e7;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    color: #eee9e6;
}

header h1 {
    margin-top: 15px;
    padding: 50px;
}

header ul {
    list-style: none;
    font-size: 1.3rem;
}

header ul li {
    text-align: center;
    padding: 10px;
}

main {
    grid-area: content;
    background-color: #faf4ed;
    padding-left: 120px;
    padding-top: 50px
}

.nameCard {
    display: inline-flex;
    height: 120px;
    width: 200px;
    background-color: #c4a7e7;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

#profileImg {
    max-width: 10%;
    max-height: 10%;
    padding-left: 80px
}

.inputFields {
    list-style: none;
}

.inputFields li {
    display: flex;
    align-items: baseline;
}

.textField {
    display: inline-flex;
    font-size: 120%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    background-color: white;
    border:2px solid #6e6a86;
    border-radius: 5px;
}

button {
    text-decoration: none;
    border: none;
    background: none;
}

button:hover {
    color: #ea9d34;
}

.addButton {
    display: flex;
    font-size: 200%;
}

.saveButton {
    display: inline-flex;
    padding: 8px;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #56949f;
    font-size: 120%;
    border: 0px solid;
    border-radius: 5px;
    color: white;
}

.cancelButton {
    display: inline-flex;
    padding: 8px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #9893a5;
    font-size: 120%;
    border: 0px solid;
    border-radius: 5px;
    color: white;
}

.favContactContentHeader {
    display: flex;
    font-size: 1.8rem;
    align-items: center;
}

.favContactContentHeader > div {
    margin-right: 50px;
}

.favContactContentHeader img {
    max-width: 5%;
    max-height: 5%;
}

.favContactInfoList li{
    list-style: none;
    padding-top: 20px;
    font-size: 1.2rem;
}

.favContactInfoList ul li {
    list-style: none;
    padding: 0px;
}

