* {
    padding: 0px;
    margin: 0px;
}

body {
    display: grid;
    grid-template-columns: auto, repeat(1fr, 5);
    grid-template-areas: 
    "sidebar content content content content content";
    height: 100vh;
}

header {
    display: flexbox;
    grid-area: sidebar;
    background-color: aqua;
}

h1 {
    padding: 50px;
}

header ul {
    display: flexbox;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-size: 120%;
}

header ul li {
    text-align: center;
    padding: 10px;
}

main {
    display: flexbox;
    grid-area: content;
    background-color: blueviolet;
}