* {
    padding: 0px;
    margin: 0px;
}


@media screen and (max-width: 700px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: min-content;
        row-gap: 0px;
        grid-template-areas: 
        "sidebar"
        "content";
        height: 100vh;
        font-family: 'Inter', sans-serif;
    }

    main {
        display: grid;
        justify-content: center;
        grid-area: content;
    }

    header {
        display: flex;
        justify-content: flex-start;
        position: sticky;
        top: 0px;
        width: 100%;
        height: 65px;
        overflow: hidden;
    }

    header > * {
        text-overflow: ellipsis;
    }

    nav ul{
        display: flex;
        align-items: center;
    }


    .favContactContentHeader {
        padding-left: 10px;
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    .favContactContentHeader > div {
        font-size: 1.5rem;
        padding-right: 50px;
    }

    .favContactContentHeader > img {
        box-sizing: border-box;
        width: 150px;
        height: 150px;
    }

    .favContactInfoList {
        padding-left: 10px;
    }

    #profileImg {
        padding-top: 100px;
        padding-left: 60px;
        inline-size: 120px;
    }

}

@media screen and (min-width: 701px) {
    body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "sidebar content content content content";
        height: 100vh;
        font-family: 'Inter', sans-serif;
    }

    main {
        padding-left: 120px;
        padding-top: 50px
    }

    header ul {  
        font-size: 1.3rem;
    }

    header h1 {
        text-align: left;
        margin-top: 15px;
        padding: 50px;
    }

    .page2ImgWrapper {
        padding-left: 60px;
        display: inline-flex;
        width: 10%;
        height: 10%;
    }

    
    .favContactContentHeader {
        display: flex;
        font-size: 1.8rem;
        align-items: center;
    }

    .favContactContentHeader > div {
        margin-right: 50px;
    }

    .favContactContentHeader img {
        max-width: 5%;
        max-height: 5%;
    }

}



header {
    grid-area: sidebar;
    background-color: #c4a7e7;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    color: #eee9e6;
}

header ul {
    list-style: none;
}

header ul li {
    text-align: center;
    padding: 10px;
}

main {
    grid-area: content;
    background-color: #faf4ed;
}

.nameCard {
    display: inline-flex;
    height: 120px;
    width: 200px;
    background-color: #c4a7e7;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.inputFields {
    list-style: none;
}

.inputFields li {
    display: flex;
    align-items: baseline;
}

.textField {
    display: inline-flex;
    font-size: 120%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    background-color: white;
    border:2px solid #6e6a86;
    border-radius: 5px;
}

button {
    text-decoration: none;
    border: none;
    background: none;
}

button:hover {
    color: #ea9d34;
}

.addButton {
    display: flex;
    font-size: 200%;
}

.saveButton {
    display: inline-flex;
    padding: 8px;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #56949f;
    font-size: 120%;
    border: 0px solid;
    border-radius: 5px;
    color: white;
}

.cancelButton {
    display: inline-flex;
    padding: 8px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #9893a5;
    font-size: 120%;
    border: 0px solid;
    border-radius: 5px;
    color: white;
}

.favContactInfoList li{
    list-style: none;
    padding-top: 20px;
    font-size: 1.2rem;
}

.favContactInfoList ul li {
    list-style: none;
    padding: 0px;
}

.favContactContentHeader > img {
    min-height: 70px;
    min-width: 70px;
}


